.container{
  max-width: 500px;
  background-color: #000;
  position: relative;

  border: solid #000 3px;
  border-bottom: none;

}

.container:hover a div p{
  display: block;
}

.title {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  transform: translate(0, -50%);

  color: #FFF;
  font-weight: bold;
  font-size: 1.8rem;

  text-align: center;
  display: none;
}

.image:hover{
  opacity: 0.3;
}