.title{
  font-size: 2rem;
}

.container{
display: flex;
flex-direction: column;
flex: 1;
padding: 0 100px;
margin-top: 2rem;
align-items: center ;
}

.content{
  display: flex;
  min-height: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 6rem;
}

.content p{
  text-indent: 30px;
  font-size: 1.15rem;
  margin-left: 3rem;
}